h1.title {
  margin: 0 0;
  width: 200px;

  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.data-of-release {
  width: 300px;
  height: 30px;
  color: rgb(191, 194, 194);
}



.img-film {
  width: 186px;
  background: no-repeat;
}



div .genre {
  width: min-content;
  color: rgba(0, 0, 0, 0.65);
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background: #FAFAFA;

  margin: 0 0 10px 0;

}

.card-box {
  margin: 0 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.card {
  display: flex;
  width: 470px;
  height: 279px;
  margin: 0 30px 35px 0;
}

.card {
  background-color: rgba(246, 246, 246, 0.56);
  box-shadow: 0.2px 6px 5px 8px rgba(105, 104, 104, 0.164);
}

.card-text {
  position: relative;
  width: 265px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.card-description {
  width: 228px;
  height: 110px;
}

.vote {
  position: relative;
  left: 20px;
  font-size: 16px;
  border-radius: 50%;
  width: 41px;
  height: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.vote-number {
  position: relative;
  top: 5px;
}

@media (max-width: 768px) {
  .card-box {
    padding: 20px 15px;
    margin: 0 15px;
    width: 420px;
  }

  h1.title {
    margin: 0 0;
    width: 250px;

    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .data-of-release {
    width: 250px;
    height: 30px;
    color: rgb(191, 194, 194);
  }

  .genre-tags {
    width: 240px;
  }

  li,
  .card {
    display: flex;
    margin: 0 0 30px 0;
    width: 388px;
    height: 245px;
  }

  .img-film {
    width: 62px;
    height: 90px;
    margin: 6px 0 10px 10px;
  }

  .card-text {
    position: absolute;
    left: 100px;
    width: 300px;
    margin: 10px;
    display: flex;
  }

  .card-description {
    position: relative;
    right: 70px;
    width: 350px;
    height: 92px;
    font-size: 14px;
  }

  .vote {
    position: relative;
    left: 10px;
    font-size: 16px;
    border-radius: 50%;
    width: 41px;
    height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}